/*projects/Adopt-A-Cat*/

body {
    background: url("../images/bgcat.jpg")
        no-repeat center center;
    background-size: cover;
    }

div{
    background-color: burlywood;
}

i{
    color: palevioletred
}

h1{
    color: whitesmoke;
    text-align-last: center;
    min-width: 100%;
    padding: 10px;
    magin-top: center;
    margin: 250px auto;
    font-family: 'Arimo', sans-serif;
    font-size: 3em;
    https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
    }
